<div layout="row" flex style="background:rgba(158, 158, 158, 0.2); margin-top:15px; margin-right:15px;">
  <div flex ng-click="setMenuSelection('infrastructure', cluster)"
       ng-class="{'selectedListItem': selectedMenuItem == 'infrastructure'}"
       style="min-height:20px; padding:10px; text-align:center; font-size:14px;">
    <i class="fa fa-table" aria-hidden="true" style="margin-right:5px;"></i>Infrastructure
  </div>
  <div flex ng-click="setMenuSelection('data', cluster)" ng-class="{ 'selectedListItem': selectedMenuItem == 'data' }"
       style="min-height:20px; padding:10px; text-align:center;font-size:14px;">
    <i class="fa fa-table" aria-hidden="true" style="margin-right:5px;"></i>Data
    <span class="labelTypeSm" ng-if="topic.partitions.length > 0"> {{topic.partitions.length}} </span>
  </div>
  <div flex ng-click="setMenuSelection('alerts', cluster)"
       ng-class="{ 'selectedListItem': selectedMenuItem == 'alerts' }"
       style="min-height:20px; padding:10px; text-align:center;font-size:14px;">
    <i class="fa fa-wrench" aria-hidden="true" style="margin-right:5px;"></i>Rules / Alerts
    <span class="labelTypeSm" ng-if="topic.configs.length > 0"> {{topic.configs.length}} </span>
  </div>
</div>


<md-content ng-show="selectedMenuItem == 'infrastructure'" style="padding-left:15px">

  <h3>Zookeepers</h3>

  <!-- View 1 -->
  <div ng-bind-html="htmlCode | sanitize"></div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- View 2 -->
  <table class="topics-table2" style="">
    <thead>
    <tr>
      <th></th>
      <th ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <center>{{ zookeeperJMX.replicaZK.name }}</center>
      </th>
    </tr>
    </thead>
    <tbody style="background-color: white;">
    <tr>
      <td>
        <pre>Zookeeper Process CPU</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.processCpuLoad * 100 | number:2 }} %</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>System CPU usage</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.systemCpuLoad * 100 | number:2 }} %</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Available Processors</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.availableProcessors }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Architecture</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.architecture }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Open File Descriptors</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.openFileDescriptorCount }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Max File Descriptors</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.osMetrics.maxFileDescriptorCount }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Packet Sent</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.packetsSent }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Version</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.version.substring(0,18) }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Uptime</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.runtimeMetrics.uptime | humanizeDuration:{ largest: 2,  units: ['d', 'h'], round : true } }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <pre>Last Zxid</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.inMemory.lastZxid }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Node Count</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.inMemory.nodeCount }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Watch Count</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.inMemory.watchCount }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <pre>Alive Connections</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.numAliveConnections }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Max Request Latency</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.maxRequestLatency }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Client Port</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.clientPort }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <pre>Packets sent</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.packetsSent }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Packets received</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.packetsReceived }}</center></pre>
      </td>
    </tr>
    <tr>
      <td>
        <pre>Tick Time</pre>
      </td>
      <td ng-repeat="zookeeperJMX in allZookeeperJMX.data">
        <pre><center>{{ zookeeperJMX.commonZK.tickTime }}</center></pre>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- View 3 -->
  <div ng-repeat="zookeeperJMX in allZookeeperJMX.data">
    <p><b>Zookeeper - {{ zookeeperJMX.replicaZK.name }} </b></p>

    <pre>Zookeeper Process CPU : {{ zookeeperJMX.osMetrics.processCpuLoad * 100 | number:2 }} %</pre>
    <pre>System CPU usage      : {{ zookeeperJMX.osMetrics.systemCpuLoad * 100 | number:2 }} %</pre>
    <pre>Available Processors  : {{ zookeeperJMX.osMetrics.availableProcessors }}</pre>
    <pre>Architecture          : {{ zookeeperJMX.osMetrics.architecture }}</pre>
    <pre>Open File Descriptors : {{ zookeeperJMX.osMetrics.openFileDescriptorCount }}</pre>
    <pre>Max File Descriptors  : {{ zookeeperJMX.osMetrics.maxFileDescriptorCount }}</pre>
    <pre>Packet Sent           : {{ zookeeperJMX.commonZK.packetsSent }}</pre>
    <pre>Version               : {{ zookeeperJMX.commonZK.version.substring(0,18) }}</pre>
    <pre>Uptime                : {{ zookeeperJMX.runtimeMetrics.uptime | humanizeDuration:{ largest: 2,  units: ['d', 'h'], round : true } }}</pre>
    <br>
    <pre>Last Zxid             : {{ zookeeperJMX.inMemory.lastZxid }}</pre>
    <pre>Node Count            : {{ zookeeperJMX.inMemory.nodeCount }}</pre>
    <pre>Watch Count           : {{ zookeeperJMX.inMemory.watchCount }}</pre>
    <pre>Alive Connections     : {{ zookeeperJMX.commonZK.numAliveConnections }}</pre>
    <pre>Max Request Latency   : {{ zookeeperJMX.commonZK.maxRequestLatency }}</pre>
    <pre>Client Port           : {{ zookeeperJMX.commonZK.clientPort }}</pre>
    <br>
    <pre>Packets sent          : {{ zookeeperJMX.commonZK.packetsSent }}</pre>
    <pre>Packets received      : {{ zookeeperJMX.commonZK.packetsReceived }}</pre>
    <pre>Tick time             : {{ zookeeperJMX.commonZK.tickTime }}</pre>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</md-content>

<md-content ng-show="selectedMenuItem == 'data'" style="padding-left:15px">

  <h3>Zookeeper Data</h3>

  <json-tree object='{
	"schema_registry": {
		"schema_registry_master": "{\"host\":\"e3d65ff7dcdf\",\"port\":8081,\"master_eligibility\":true,\"version\":1}",
		"schema_id_counter": "20"
	},
	"cluster": {
		"id": "{\"version\":\"1\",\"id\":\"zb5KrrR0Rj-TSTdZv-uzZw\"}"
	},
	"controller": "{\"version\":1,\"brokerid\":0,\"timestamp\":\"1494109249913\"}",
	"controller_epoch": "1",
	"zookeeper": {
		"quota": ""
	},
	"admin": {
		"delete_topics": ""
	},
	"isr_change_notification": "",
	"broker": {
		"0": "{\"listener_security_protocol_map\":{\"PLAINTEXT\":\"PLAINTEXT\"},\"endpoints\":[\"PLAINTEXT://192.168.99.100:9092\"],\"jmx_port\":9581,\"host\":\"192.168.99.100\",\"timestamp\":\"1494109250148\",\"port\":9092,\"version\":4}",
		"topics": {
			"connect-configs": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"_schemas": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"connect-statuses": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"logs-broker": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"coyote_test_json": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"coyote_test_binary": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"connect-offsets": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"position-reports": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"1": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"2": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"3": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"4": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"coyote_test_avro": {
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			},
			"__consumer_offsets": {
				"44": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"45": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"46": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"47": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"48": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"49": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"10": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"11": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"12": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"13": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"14": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"15": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"16": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"17": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"18": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"19": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"0": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"1": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"2": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"3": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"4": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"5": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"6": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"7": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"8": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"9": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"20": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"21": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"22": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"23": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"24": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"25": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"26": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"27": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"28": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"29": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"30": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"31": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"32": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"33": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"34": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"35": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"36": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"37": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"38": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"39": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"40": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"41": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"42": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}",
				"43": "{\"controller_epoch\":1,\"leader\":0,\"version\":1,\"leader_epoch\":0,\"isr\":[0]}"
			}
		}
	}
}' root-name="'/'" style="max-width: 100%;" start-expanded="true"></json-tree>

</md-content>

<!-- Section HEALTH-CHECKS across all (?) Zookeepers -->
<md-content ng-show="selectedMenuItem == 'alerts'" style="padding-left:15px">
  <table class="topics-table" style="width:400px">
    <thead>
    <tr>
      <th>Health checks</th>
      <th>
        <center>Status</center>
      </th>
    </tr>
    </thead>
    <tbody>
    <!--<tr ng-repeat="brokerJMX in allBrokerJMX">-->
    <tr>
      <td>All Zookeepers have same number of <b>nodes</b></td>
      <td>
        <center><img ng-src="src/assets/icons/green-circle.png" width="15"/></center>
      </td>
    </tr>
    <tr>
      <td>All Zookeepers have plenty of unused <b>file descriptors</b></td>
      <td>
        <center><img ng-src="src/assets/icons/green-circle.png" width="15"/></center>
      </td>
    </tr>
    </tbody>
  </table>
</md-content>

<!--Debug-> allZookeeperJMX = {{ allZookeeperJMX }}-->

<br>

<!--<json-tree object="schema-registry" root-name="'schema-registry'" style="max-width: 100%;" ></json-tree>-->

<!--<json-tree object="{  }" root-name="''" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'controller'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'controller_epoch'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'brokers'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'zookeeper'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'admin'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'isr_change_notification'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'consumers'" style="max-width: 100%;"></json-tree><br>-->
<!--<json-tree object="{ 'hi' : 'true' }" root-name="'config'" style="max-width: 100%;"></json-tree><br>-->
