<md-card style="margin-bottom:15px;box-shadow:none;">
  <md-card-content ng-click="showZookeepersDashboard();">
    <div layout="column">
      <div style="margin: 0px 0px 12px;font-weight: 500; text-transform: uppercase; font-size: 14px;">Zookeepers</div>
      <div layout="row">
        <div flex="10" style="font-size: 50px; font-weight: 100;">3 {{totalBrokers}}</div>
        <div flex="30">
          <img height=60 ng-src="src/assets/icons/zookeeper.png" style="opacity: 0.81;filter: alpha(opacity=81);"/>
          <!--<i style="font-size:50px; font-weight:100; color: #9675ce; padding-top:10px" class="fa fa-hdd-o" aria-hidden="true"></i>-->
        </div>
        <div flex="60" style="height: 80px;" class="mermaid">
          graph LR
          z1 --- z2
          z2 --- z3
        </div>
        <!--{{allZookeeperJMX}}-->
        <div ng-repeat="zookeeperJMX in allZookeeperJMX.data">
          Uptime : {{ zookeeperJMX.runtimeMetrics.uptime | humanizeDuration:{ largest: 2,  units: ['d', 'h'], round : true } }}<br><br>
          <!--<pre>Alive connections : {{ zookeeperJMX.data.numAliveConnections }}</pre>-->
        <!--</div>-->
        <div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>