<div class="md-padding" layout="row" style="margin-bottom:15px;padding:0">

  <md-card-content ng-repeat="zookeeperJMX in allZookeeperJMX.data" ng-click="showZookeepersDashboard();"
                   style="margin-right:15px;background-color:white;padding:16px;min-width:200px">
    <div style="margin: 0px 0px 12px;font-weight: 500; text-transform: uppercase; font-size: 14px;">
      <img height=25 ng-src="src/assets/icons/zookeeper.png"
           style="opacity: 0.81;filter: alpha(opacity=81);"/>
      &nbsp;&nbsp;&nbsp; {{zookeeperJMX.replicaZK.name}}
    </div>
    <div layout="row">
      <pre>Uptime : {{ zookeeperJMX.runtimeMetrics.uptime | humanizeDuration:{ largest: 2, units: ['d', 'h'], round : true } }}</pre>
      <!--<i style="font-size:50px; font-weight:100; color: #9675ce; padding-top:10px" class="fa fa-hdd-o" aria-hidden="true"></i>-->
      <!--{{allZookeeperJMX}}-->
      <!--<pre>Alive connections : {{ zookeeperJMX.data.numAliveConnections }}</pre>-->
      <!--</div>-->
    </div>
    <br>
  </md-card-content>
</div>